.box {
  display: grid;
  justify-items: center;
}

.notification {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #ffffff;
  width: 320px;
  height: 70px;
  border-radius: 5px;
  position: relative;
  margin-bottom: 10px;
  animation: show var(--zNtfy-timer) ease;
  opacity: 0.5;
}

.success {
  color: var(--success-border);
  background-image: linear-gradient(
    to right,
    #01c851aa,
    var(--success-background),
    var(--success-background) 43%
  );
}

.success::before {
  content: "";
  width: 0%;
  height: 3px;
  background-color: var(--success-border);
  box-shadow: 0px 0px 10px var(--success-border);
  position: absolute;
  bottom: 0px;
  right: 0px;
  animation: end var(--zNtfy-timer) linear;
}

.error {
  color: var(--error-border);
  background-image: linear-gradient(
    to right,
    #ff3447aa,
    var(--error-background),
    var(--error-background) 43%
  );
}

.error::before {
  content: "";
  width: 0%;
  height: 3px;
  background-color: var(--error-border);
  box-shadow: 0px 0px 10px var(--error-border);
  position: absolute;
  bottom: 0px;
  right: 0px;
  animation: end var(--zNtfy-timer) linear;
}

.warning {
  color: var(--warning-border);
  background-image: linear-gradient(
    to right,
    #ffbb35aa,
    var(--warning-background),
    var(--warning-background) 43%
  );
}

.warning::before {
  content: "";
  width: 0%;
  height: 3px;
  background-color: var(--warning-border);
  box-shadow: 0px 0px 10px var(--warning-border);
  position: absolute;
  bottom: 0px;
  right: 0px;
  animation: end var(--zNtfy-timer) linear;
}

.info {
  color: var(--info-border);
  background-image: linear-gradient(
    to right,
    #33b5e7aa,
    var(--info-background),
    var(--info-background) 43%
  );
}

.info::before {
  content: "";
  width: 0%;
  height: 3px;
  background-color: var(--info-border);
  box-shadow: 0px 0px 10px var(--info-border);
  position: absolute;
  bottom: 0px;
  right: 0px;
  animation: end var(--zNtfy-timer) linear;
}

.title h6 {
  font-size: small;
  color: #c9c9c9;
}

@keyframes show {
  2% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes end {
  to {
    width: 100%;
  }
}
