@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0%;
  margin: 0%;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

:root {
}

.btn {
  padding: 15px 35px;
  margin: 10px;
  border-radius: 5px;
  color: #ffffff;
  transition: 0.5s;
}

#success {
  background-color: var(--success-background);
  border: 3px solid var(--success-border);
}

#success:hover {
  background-color: var(--success-border);
}

#error {
  background-color: var(--error-background);
  border: 3px solid var(--error-border);
}

#error:hover {
  background-color: var(--error-border);
}

#warning {
  background-color: var(--warning-background);
  border: 3px solid var(--warning-border);
}

#warning:hover {
  background-color: var(--warning-border);
}

#info {
  background-color: var(--info-background);
  border: 3px solid var(--info-border);
}

#info:hover {
  background-color: var(--info-border);
}

.box {
  display: flex;
  position: absolute;
  transform: translate(100%, -50%);
}

.notification {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #ffffff;
  width: 320px;
  height: 70px;
  border-radius: 5px;
  position: relative;
  margin-bottom: 10px;
  animation: show var(--zNtfy-timer) ease;
  opacity: 0.5;
}

.success {
  color: var(--success-border);
  background-image: linear-gradient(#01c851aa, var(--success-background) 100%);
}

.success::before {
  content: "";
  width: 0%;
  height: 3px;
  background-color: var(--success-border);
  box-shadow: 0px 0px 10px var(--success-border);
  position: absolute;
  bottom: 0px;
  right: 0px;
  animation: end var(--zNtfy-timer) linear;
}

.error {
  color: var(--error-border);
  background-image: linear-gradient(
    to right,
    #ff3447aa,
    var(--error-background) 95%
  );
}

.error::before {
  content: "";
  width: 0%;
  height: 3px;
  background-color: var(--error-border);
  box-shadow: 0px 0px 10px var(--error-border);
  position: absolute;
  bottom: 0px;
  right: 0px;
  animation: end var(--zNtfy-timer) linear;
}

.warning {
  color: var(--warning-border);
  background-image: linear-gradient(
    to right,
    #ffbb35aa,
    var(--warning-background) 95%
  );
}

.warning::before {
  content: "";
  width: 0%;
  height: 3px;
  background-color: var(--warning-border);
  box-shadow: 0px 0px 10px var(--warning-border);
  position: absolute;
  bottom: 0px;
  right: 0px;
  animation: end var(--zNtfy-timer) linear;
}

.info {
  color: var(--info-border);
  background-image: linear-gradient(
    to right,
    #33b5e7aa,
    var(--info-background) 95%
  );
}

.info::before {
  content: "";
  width: 0%;
  height: 3px;
  background-color: var(--info-border);
  box-shadow: 0px 0px 10px var(--info-border);
  position: absolute;
  bottom: 0px;
  right: 0px;
  animation: end var(--zNtfy-timer) linear;
}

.title h6 {
  font-size: small;
  color: #c9c9c9;
}

@keyframes show {
  2% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes end {
  to {
    width: 100%;
  }
}
