:root {
  /* COLORES */
  --primary-color: #222228;
  --secondary-color: #38383e;
  --third-color: #1277ff;

  /* FUENTES */
  --font-Title: "Roboto", sans-serif;
  --font-size-Title: 16px;
  --font-weight-title: 400;

  /* TAMAÑOS FUENTE */
}

.font-Title {
  font-family: var(--font-Title);
  font-size: 1.4rem;
  font-weight: 500;
}
