:root {
  /* COLORS */
  --primary-color: #e88100;
  --primary-color-light: #2c283e;
  --primary-color-dark: #1a1824;
  --secondary-color: #38383e;
  --secondary-color-light: #4c4c5a;
  --secondary-color-dark: #2c283e;
  --third-color: #1277ff;
  --third-color-light: #2c283e;
  --third-color-dark: #1a1824;

  /* FONTS */
  --font-Title: "Roboto", sans-serif;
  --font-size-Title: 16px;
  --font-weight-title: 400;

  /* SIZE FONTS */

  /* NOTIFICACIONES PUSH || TOAST */
  --background-color: #2c283e;
  --success-border: #014b1e;
  --error-border: #ff3447;
  --warning-border: #ffbb35;
  --info-border: #33b5e7;
  --success-background: #3ab65c;
  --error-background: #bf333b;
  --warning-background: #bc8c12;
  --info-background: #1898c0;

  /* COLORS LOADER */
  --bckg-loader-clr: #1179da80;
  --font-loader-clr: conic-gradient(#1277ff 0 0) no-repeat text;
  --time-loader-dft: 3s;

  /* CARDS DATOS*INTERNET || MINUTOS*TV || SMS*TELEFONIA */
  --card-prdSrv-datosInternet: #01bae7;
  --card-prdSrv-minutosTV: #5c06ab;
  --card-prdSrv-smsTelefonia: #a60890;
}

.font-Title {
  font-family: var(--font-Title);
  font-size: 1.4rem;
  font-weight: 500;
}
