/* LABEL Y FORMLABEL  */
.zformLabel-root {
	color: #6c6c6c;
	padding: 0;
	/*	font-size: 1.1rem; */
	font-family: $fontForm;
	font-weight: $fontWeight;
	line-height: 1;
	letter-spacing: 0.00938em;
}

.zformLabel-root:focus {
	color: $primary;
}

.zinputLabel-root {
	display: block;
	transform-origin: top left;
}

.zinputLabel-formCtrl {
	top: 0;
	left: 0;
	position: absolute;
	transform: translate(0, 24px) scale(1);
}

.zinputLabel-animated {
	transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
		transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.zinputLabel-shrink {
	transform: translate(0, 1.5px) scale(0.75);
	transform-origin: top left;
}